<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Welcome to my website</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, libero praesentium expedita consequuntur ex amet? Minima minus qui, voluptatum, commodi, necessitatibus hic accusamus reiciendis illum tempora, molestias doloremque delectus accusantium.</p>
      <%= link_to "Add a flat", root_path , class: 'btn btn-primary' %>

    </div>
  </div>
  <div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem rerum fugit est molestias deleniti assumenda ducimus amet rem quam. Temporibus nam, commodi explicabo repudiandae rerum tempora ipsam dolore recusandae facilis.
    Atque ratione similique quidem, voluptate explicabo iste quae molestias hic illo? Quo exercitationem, laborum doloribus voluptatum voluptatem, iste nam, qui veniam delectus animi officia rerum. Molestiae perferendis, fugit facilis quam!
    Cum vel repellat ad, earum dolores! Eaque hic, fugit perferendis, eveniet ratione quibusdam consequatur cumque dolorem eum aliquid alias rerum consequuntur beatae incidunt eligendi illo dolorum, perspiciatis possimus nobis. Natus!
    Dolorem, voluptatibus facere soluta eum earum ut aut omnis adipisci incidunt perspiciatis, quam, autem eligendi neque voluptates veniam repellat. Dolorem, alias expedita dicta! Quasi debitis, molestiae reprehenderit obcaecati eius id!
    Recusandae ipsum quidem quibusdam a officia excepturi velit blanditiis, quaerat voluptatibus eligendi vel alias quos. Illum fugiat non veritatis debitis eligendi blanditiis consectetur nobis delectus, nam! Voluptatibus, odit accusamus animi?
    Molestiae, rem, quo. Quia, ducimus tenetur iusto modi harum ea sequi quaerat facere dolorum nobis corporis quibusdam consectetur vitae excepturi, dolores rerum laudantium numquam aliquid, praesentium! Voluptatibus commodi natus, ex?
    At esse voluptatem, tempore sit, voluptas, quibusdam corrupti praesentium aliquam nobis modi, ullam atque eum dolore corporis explicabo vel odit ea natus rem perspiciatis. Commodi molestiae sequi iure blanditiis unde.
    Vitae mollitia iste, eveniet modi nemo earum laborum, nesciunt nulla similique voluptatibus ea consectetur quam in fuga laboriosam quis explicabo, assumenda asperiores autem! Corporis debitis nesciunt, soluta, eaque et reiciendis.
    Recusandae eveniet deserunt voluptate quos assumenda fugit quod eos voluptas sunt ipsum cupiditate iusto repellendus, facilis tenetur quibusdam nam obcaecati dolore cumque pariatur laborum! Eius tenetur quae exercitationem vitae ad.
    Temporibus nobis architecto fugiat cum doloremque, facere iusto nihil harum molestiae aperiam, fuga voluptatum ducimus! Iste voluptates iusto aspernatur fugit ducimus voluptatem delectus quas facilis, illum molestias laboriosam dicta, autem.
    Tempore in nisi neque numquam ex aliquid magni, totam distinctio, culpa delectus eos sed esse fugit. Illo inventore fugit praesentium iure sunt omnis corrupti nemo, facere, tempore, quo, ad laborum!
    Assumenda debitis animi distinctio, accusamus eaque cumque at itaque officia optio vitae obcaecati omnis modi molestiae quasi enim, laboriosam consectetur. Culpa autem commodi, placeat repellat dolores laborum suscipit ut in.
    Odit voluptate sequi earum quidem, error laudantium, repellendus voluptatem laborum corporis harum officia eum perspiciatis cum optio similique velit. Rerum praesentium, labore sunt assumenda veniam doloribus vel perspiciatis, a quos?
    Officiis modi quis voluptatem, eos minus voluptas eveniet ea eum nemo, in maiores aliquid recusandae reiciendis hic nobis temporibus, aut corporis perspiciatis esse autem consequatur nihil. Optio, sunt odio voluptatum.
    Ipsa reiciendis, error in animi labore tempore porro minus sit sequi unde, quod commodi itaque, recusandae laborum? Ut, deserunt possimus odit velit eos, totam optio corporis natus provident libero non.
    Commodi a earum quam placeat quasi, quibusdam praesentium corrupti id ipsam inventore at ipsa accusantium alias. Fuga, dolorem nam id, aperiam repellat possimus optio vero temporibus, molestiae reprehenderit laborum maiores!
    Vero perspiciatis blanditiis laudantium sint natus sapiente consequatur modi animi quas. Iste expedita, provident rem, velit quis numquam cumque labore eaque asperiores saepe assumenda corrupti et, aliquam alias odit optio?
    Fuga ut doloremque exercitationem molestias, repellat accusantium quibusdam obcaecati aliquam libero laudantium, quo dolorum id provident, aut, nesciunt fugiat quia qui tenetur. Explicabo iure quae officiis aliquam adipisci, modi doloribus!
    Blanditiis mollitia error, maxime qui cupiditate impedit earum fugiat sapiente nostrum vel aut deleniti? Enim suscipit possimus harum nemo corrupti dicta assumenda ab, ipsa fuga magni sequi, eius architecto ipsum.
    Numquam aut asperiores, laudantium autem id et doloremque. Amet corporis eaque tenetur provident fugiat est illum esse neque minima rerum officiis nihil obcaecati, beatae a voluptatem libero mollitia voluptatibus pariatur.
    Autem dolorum saepe facere porro quidem corrupti odio officiis! Ipsum, quo, deserunt! Recusandae quas debitis doloribus ea, quia eos iure quibusdam optio corrupti fugiat. Impedit fugiat molestiae neque, libero reiciendis?
    Quis, architecto dicta, iusto non obcaecati sint, sed corporis animi perspiciatis magni voluptate rerum, tenetur repellendus voluptates nam sequi ut! Molestiae ex nam placeat perspiciatis numquam autem? Perferendis nam, consectetur.
    Minus vel voluptatem aspernatur, nobis doloremque? Et, nulla? Incidunt reprehenderit, veritatis voluptas eaque quaerat officiis ad ipsa. Voluptatum, pariatur. Non error quibusdam recusandae aliquam, voluptatum quae maxime aut, harum quos!
    Ab quo fugiat expedita possimus a eligendi dignissimos iure earum dolorum iusto sapiente adipisci similique repudiandae saepe sit numquam doloremque obcaecati voluptatum quidem, debitis odio! Eum libero laboriosam, doloremque necessitatibus!
    Numquam accusamus vero minima harum, obcaecati explicabo rem aliquid nesciunt quod alias distinctio excepturi officiis enim laudantium tenetur quas nam. Nostrum quaerat accusantium quis laudantium doloremque id magni, consequatur, ad!
    Reiciendis qui nam animi quae nisi dolor eum modi fuga, dolorum doloribus sapiente reprehenderit id placeat! Rem, ut corrupti perferendis eligendi ea, accusantium. Repudiandae tenetur, nobis! Debitis molestiae earum eaque.
    Deserunt, magnam aliquam iusto sequi ad sapiente aliquid totam ab tempora esse maiores, repudiandae quos perspiciatis nesciunt, eius, necessitatibus voluptates! Ad accusamus harum dolore? Dolores eveniet, consequatur exercitationem ipsum placeat.
    Ea voluptatem quibusdam nobis ipsum laudantium vero vel eaque ex, corrupti dolores, molestias iure tempore incidunt possimus dignissimos neque veniam aliquam, eligendi quis reiciendis beatae repellendus, nesciunt rerum magni sunt.
    Nesciunt, eveniet recusandae iusto illo? Non saepe, dolores. Sequi saepe, repellat. Possimus commodi consectetur consequuntur modi reiciendis labore id assumenda eius. Fugit ipsa dolorem nobis modi odio accusantium qui eius.
    Quidem, dolore magnam dolorum illum! Ab obcaecati quam commodi repellat accusamus, voluptatum, consequatur blanditiis incidunt minima aliquid quidem eos quo illum sunt mollitia? Numquam nihil illo voluptatem accusantium sit, eligendi.
    Dignissimos adipisci sunt eaque. Vitae deleniti pariatur repellat perferendis, nostrum, placeat magni ipsa tempore laboriosam modi ex necessitatibus, totam quam aliquam? Nemo at, deserunt nobis, natus optio voluptatibus maiores dolor.
    Numquam mollitia, assumenda delectus, ratione accusantium vitae asperiores quo eos. Enim ipsa earum dolore. Hic repellat accusantium maxime earum est veritatis, sapiente nostrum eaque excepturi, corporis qui quod, iure, quos.
    Nisi nemo dolorem iure perferendis, quod officia! Ex vitae molestiae id nisi odio blanditiis totam iusto, corporis autem, enim consequuntur perferendis ratione aperiam inventore aspernatur ipsum alias distinctio possimus molestias!
    Maxime, nulla impedit, fuga deserunt distinctio error numquam veniam beatae, labore adipisci animi expedita aut, quas minus. Dolores optio pariatur aperiam harum cum impedit suscipit doloribus et, fugit sed ratione?
    Suscipit, excepturi facilis a numquam debitis pariatur. Veritatis vero impedit itaque aliquid iusto earum, laborum eum expedita aspernatur ad fuga recusandae nam fugiat dolorum minima! Recusandae nisi, enim magnam atque.
    Corporis, soluta, pariatur doloremque amet vero voluptatibus, similique enim vel quas adipisci expedita tempora quam alias nisi quibusdam cupiditate ad porro. Consectetur facere est assumenda ea blanditiis unde qui et.
    Tenetur aspernatur est, nesciunt eum a quaerat, quibusdam voluptatum, error delectus explicabo laboriosam beatae ab placeat consequatur consectetur nemo perspiciatis minima iste fugiat quidem porro voluptate, accusamus! Soluta, temporibus, tempora.
    Natus accusamus, animi, assumenda harum, nostrum autem temporibus voluptatum provident fugit aspernatur reprehenderit odio, voluptates tenetur sunt magni. Deleniti molestias voluptas vero dolores corporis, incidunt iusto inventore nemo, quaerat consectetur.
    Eaque optio corrupti aut neque necessitatibus alias, cum nisi modi earum sint vel quod facilis recusandae aliquid vero maxime blanditiis culpa? Magnam nesciunt incidunt assumenda debitis nulla aperiam delectus similique?
    Earum, quia ullam sit aperiam dicta voluptatum omnis quisquam quo, ipsa assumenda! Laborum dignissimos quo deleniti, aliquam a saepe, rerum, hic odio quae omnis unde assumenda quas repellat numquam natus.
  </div>
</div>

